$black: #111111;
$white: #ffffff;
$primary: #3062D4;
$primary-200: #4077c367;
$success: #4CAF50;
$danger: #F44336;
$warning: #F57F17;
$info: #2196F3;
$secondary: #616161;
$border: #DDDDE3;

// Screen width
$desktop: 1280px;
$tablet: 601px;
$mobile: 360px;